*{
    margin: 0;
}
.nav
{
padding-top: 50px;
background-color: aquamarine;
height: 100px;
text-align: center;
}
.menu{
margin: 10px 7px 10px 0px;
float: left;
height: 480px;
width: 33%;
background-color:blueviolet;
cursor: pointer;
}
.content{
float: left;
height: 480px;
width: 33%;
background-color:pink;
margin: 10px 3.5px 10px 0px;
cursor: pointer;
}
.slidebar{
float: left;
height: 480px;
width: 33%;
background-color:burlywood;
margin: 10px 0px 10px 3.5px;
cursor: pointer;
}
.footer{
    clear: both;
    background-color:blue;
    height: 60px;
}
form{
    background-color: aqua;
    height: 85%;
    width: 95%;
    margin: 10px;
    text-align: center;
}

input[type="text"]{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 5px 0px 10px 0px;
    border-radius: 100px;
    background-color:rgb(230, 214, 214);
}
input[type="email"]
{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 5px 0px 10px 0px;
    border-radius: 100px;
    background-color:rgb(230, 214, 214);
}
input[type="radio"]
{
    margin: 10px;
}
h1{
        text-align: center;
        color: white;
}
.buttonNav
{
    height: 50px;
    width: 150px;
    border-radius: 30%;
    margin: 10px;
    background-color:chocolate;
    font-size:larger;
    font-weight: bolder;
}
.button{
    margin: 10% 40%;
    background-color:crimson;
    height: 50px;
    font-weight:bolder;
    font-size: large;
}
button:hover
{
    background-color:green;
}
input:hover
{ 
    background-color:white;
}
#active{
    visibility: hidden;
}
.todo{
    margin: 2% 40%;
    background-color:crimson;
    height: 50px;
    font-weight:bolder;
    font-size: large;
    border-radius: 20%;
}
#myList{
    list-style:none;
}
.myList{
    list-style:none;
    text-align: center;
    padding: 0px;

}
li{
    border: 0.1px solid rgb(20, 19, 18);
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0.2px 0px 10px 0px;
}
.wasteBox{
    height: 30px;
    width:30px;
    color:red;
    background-color:pink;
    margin: 10px;
}
.listItems
{
    justify-content: space-between;
    display: flex;
}